
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body >

<h2 id="loginTital"><b>User Login</b> </h2>


 <!--  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div> -->
<div *ngIf="showLoginPage">
  <div class="container" style="text-align: center;">
   <!--  <div class="form-group"></div> -->
   <form [formGroup]="loginCredentials" style="background: azure" >
     <div class="form-group" [ngClass]="{'has-danger':loginCredentials.get('uname').errors}">
    <label for="uname"><b>Username :</b></label>
    <input  type="text" class="form-control col-md-4" placeholder="Enter Username" name="uname" formControlName="uname" required >
    <div class="invalid-feedback">
        Please provide a valid state.
      </div>
  </div>
    <div class="form-group">
      <label for="password"><b>Password :</b></label>
      <input type="password" class="form-control col-md-4" placeholder="Enter Password" name="password" formControlName="password" required >
    </div>
    <button type="submit" class="btn btn-success mb-2 col-md-2  " (click)="LoginUserSubmit(loginCredentials)" >Login</button><br>
   <!--  <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
    <div >
        <!-- <button type="button" class="cancelbtn">Cancel</button> -->
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
  </form>
  </div>
</div>
</body>
</html>

